---
import Particles from "../React/Particles"
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Misael Zurita - Presentation</title>
  </head>
  <body class="bg-slate-900 min-h-screen text-gray-200 overflow-x-hidden ">
    <Particles client:only />
    <slot />
  </body>
</html>
