---
import Tags from './Tags.astro';

interface Props {
  title: string;
  description: string;
  tags: string[];
}

const { title, description, tags } = Astro.props;
---

<div
  class="glass-effect rounded-2xl p-4 md:p-8 flex flex-col justify-between gap-3 hover-lift text-t-primary dark:text-dark-t-primary"
>
  <div>
    <h2 class="text-2xl font-bold mb-5">{title}</h2>
    <p class="text-t-secondary dark:text-dark-t-secondary leading-relaxed">
      {description}
    </p>
  </div>
  <Tags tags={tags} />
</div>
