---
    interface Props {
        social: 'github' | 'linkedin' ;
        url: string;
    }

    const { social, url } = Astro.props;
---

<div class="glass-effect rounded-full p-5 border hover:cursor-pointer hover:-translate-y-1.5 transition-all duration-200 group">
    <a aria-label={`Dev's ${social}`} href={url}>
        <svg class="w-10 h-10 group-hover:scale-110 transition-all">
            <use href={`src/assets/sprite.svg#${social}`} />
        </svg>
    </a>
</div> 