@import 'tailwindcss';

/* Dark mode configuration for v4 */
@variant dark (.dark &);

@theme {
  --color-primary: #f8fafc;
  --color-secondary: #0f172b;
  --color-t-primary: #1e293b;
  --color-t-secondary: #475569;

  --color-dark-primary: #0f172b;
  --color-dark-secondary: #fff;
  --color-dark-t-primary: #e5e7eb;
  --color-dark-t-secondary: #99a1af;
}

/* Effects */
.glass-effect {
  @apply backdrop-blur-md border shadow-lg border-dark-secondary/10 dark:bg-dark-secondary/10;
}

/* Animation */
.hover-lift {
  @apply hover:scale-105 hover:-translate-y-1 transition-all;
}

.typing-animation {
  overflow: hidden;
  border-right: solid 3px var(--color-blue-500);
  white-space: nowrap;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: var(--color-blue-500);
  }
}

@keyframes gradient-move {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) scale(1.5) rotate(180deg);
  }
}
