---
import '../styles/global.css';
import Particles from '../components/React/Particles';
import SocialMediaLogo from '../components/Astro/SocialMediaLogo.astro';
import devPicture from '../assets/dev.jpeg';
import { Image } from 'astro:assets';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Misael Zurita - Presentation</title>
  </head>
  <body class="bg-slate-900 min-h-screen text-gray-200 ">
    <Particles client:only /> 
    <header class="relative z-1">
        <div class="w-40 h-40 p-3 bg-white/10 rounded-full backdrop-blur-sm mx-auto hover-lift">
          <Image src={devPicture} alt="developer's profile" class="w-full h-full rounded-full object-cover" aria-label="developer's profile" loading={'eager'} />
        </div>
        <div class="text-center mb-12 ">
          <div class="bg-white/10 backdrop-blur-sm border border-white/20 rounded-full px-8 py-3 w-fit mx-auto hover-lift ">
            <span class="text-blue-500 ">@Mijazu</span>
          </div>
          <h4> Misael Zurita</h4>
          <h2> Full stack developer </h2>
          <p>Full Stack Developer | React JS | Make it possible</p>
        </div>
        <div class="flex">
          <SocialMediaLogo social={'github'} url='https://github.com/MiJaZu' />
          <SocialMediaLogo social={'linkedin'} url='https://www.linkedin.com/in/misael-zurita' />
        </div>
    </header>
    <main class="flex justify-center p-100 relative z-10">

    </main>
  </body>
</html>
